<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.arm.debugger.launcher2">
<stringAttribute key="ANDROID_ACTIVITY_NAME" value=""/>
<stringAttribute key="ANDROID_APPLICATION" value=""/>
<stringAttribute key="ANDROID_APP_DIR" value=""/>
<stringAttribute key="ANDROID_PROCESS_NAME" value=""/>
<intAttribute key="DEBUG_TAB..RESOURCES.COUNT" value="0"/>
<stringAttribute key="DISABLE_EXTENDED_MODE" value="true"/>
<booleanAttribute key="EVENT_VIEWER_ENABLED" value="false"/>
<stringAttribute key="EVENT_VIEWER_MAX_DEPTH" value=""/>
<stringAttribute key="EVENT_VIEWER_MAX_DEPTH_NUMBER" value="0"/>
<booleanAttribute key="EVENT_VIEWER_STM_ENABLED" value="false"/>
<stringAttribute key="EVENT_VIEWER_STM_MAX_DEPTH" value=""/>
<stringAttribute key="EVENT_VIEWER_STM_MAX_DEPTH_NUMBER" value="0"/>
<intAttribute key="FILES.CONNECT_TO_GDB_SERVER.RESOURCES.COUNT" value="0"/>
<intAttribute key="FILES.DEBUG_EXISTING_ANDROID.RESOURCES.COUNT" value="0"/>
<listAttribute key="FILES.DEBUG_RESIDENT_ANDROID"/>
<stringAttribute key="FILES.DEBUG_RESIDENT_ANDROID.RESOURCES.0.TYPE" value="TARGET_WORKING_DIR"/>
<stringAttribute key="FILES.DEBUG_RESIDENT_ANDROID.RESOURCES.0.VALUE" value=""/>
<intAttribute key="FILES.DEBUG_RESIDENT_ANDROID.RESOURCES.COUNT" value="1"/>
<listAttribute key="FILES.DEBUG_RESIDENT_APP">
<listEntry value="ON_DEMAND_LOAD"/>
</listAttribute>
<stringAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.0.TYPE" value="TARGET_WORKING_DIR"/>
<stringAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.0.VALUE" value=""/>
<stringAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.1.OPTION.ON_DEMAND_LOAD" value="true"/>
<stringAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.1.TYPE" value="APPLICATION_ON_TARGET"/>
<stringAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.1.VALUE" value="/writeable/hello_linux/hello_stripped"/>
<stringAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.2.OPTION.ON_DEMAND_LOAD" value="true"/>
<stringAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.2.TYPE" value="SYMBOLS_FILE"/>
<stringAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.2.VALUE" value="${workspace_loc:/hello_linux/hello}"/>
<intAttribute key="FILES.DEBUG_RESIDENT_APP.RESOURCES.COUNT" value="3"/>
<listAttribute key="FILES.DOWNLOAD_AND_DEBUG">
<listEntry value="ON_DEMAND_LOAD"/>
<listEntry value="ALSO_LOAD_SYMBOLS"/>
</listAttribute>
<stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.0.OPTION.ALSO_LOAD_SYMBOLS" value="false"/>
<stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.0.OPTION.ON_DEMAND_LOAD" value="true"/>
<stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.0.TYPE" value="TARGET_WORKING_DIR"/>
<stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.0.VALUE" value=""/>
<stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.1.OPTION.ALSO_LOAD_SYMBOLS" value="false"/>
<stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.1.OPTION.ON_DEMAND_LOAD" value="true"/>
<stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.1.TYPE" value="TARGET_DOWNLOAD_DIR"/>
<stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.1.VALUE" value=""/>
<stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.2.OPTION.ALSO_LOAD_SYMBOLS" value="false"/>
<stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.2.OPTION.ON_DEMAND_LOAD" value="true"/>
<stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.2.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
<stringAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.2.VALUE" value=""/>
<intAttribute key="FILES.DOWNLOAD_AND_DEBUG.RESOURCES.COUNT" value="3"/>
<listAttribute key="FILES.DOWNLOAD_DEBUG">
<listEntry value="ON_DEMAND_LOAD"/>
<listEntry value="ALSO_LOAD_SYMBOLS"/>
</listAttribute>
<stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.0.OPTION.ALSO_LOAD_SYMBOLS" value="false"/>
<stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.0.OPTION.ON_DEMAND_LOAD" value="true"/>
<stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.0.TYPE" value="TARGET_WORKING_DIR"/>
<stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.0.VALUE" value=""/>
<stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.1.OPTION.ALSO_LOAD_SYMBOLS" value="false"/>
<stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.1.OPTION.ON_DEMAND_LOAD" value="true"/>
<stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.1.TYPE" value="TARGET_DOWNLOAD_DIR"/>
<stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.1.VALUE" value=""/>
<stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.2.OPTION.ALSO_LOAD_SYMBOLS" value="false"/>
<stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.2.OPTION.ON_DEMAND_LOAD" value="true"/>
<stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.2.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
<stringAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.2.VALUE" value=""/>
<intAttribute key="FILES.DOWNLOAD_DEBUG.RESOURCES.COUNT" value="3"/>
<intAttribute key="FILES.DOWNLOAD_DEBUG_ANDROID.RESOURCES.COUNT" value="0"/>
<listAttribute key="FILES.ICE_DEBUG">
<listEntry value="ON_DEMAND_LOAD"/>
<listEntry value="ALSO_LOAD_SYMBOLS"/>
</listAttribute>
<stringAttribute key="FILES.ICE_DEBUG.RESOURCES.0.OPTION.ALSO_LOAD_SYMBOLS" value="false"/>
<stringAttribute key="FILES.ICE_DEBUG.RESOURCES.0.OPTION.ON_DEMAND_LOAD" value="true"/>
<stringAttribute key="FILES.ICE_DEBUG.RESOURCES.0.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
<stringAttribute key="FILES.ICE_DEBUG.RESOURCES.0.VALUE" value=""/>
<intAttribute key="FILES.ICE_DEBUG.RESOURCES.COUNT" value="1"/>
<listAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE">
<listEntry value="ON_DEMAND_LOAD"/>
<listEntry value="ALSO_LOAD_SYMBOLS"/>
</listAttribute>
<stringAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.0.OPTION.ALSO_LOAD_SYMBOLS" value="false"/>
<stringAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.0.OPTION.ON_DEMAND_LOAD" value="true"/>
<stringAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.0.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
<stringAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.0.VALUE" value=""/>
<intAttribute key="FILES.ICE_DEBUG_WITH_ETB_TRACE.RESOURCES.COUNT" value="1"/>
<listAttribute key="FILES.ICE_DEBUG_WITH_TRACE">
<listEntry value="ON_DEMAND_LOAD"/>
<listEntry value="ALSO_LOAD_SYMBOLS"/>
</listAttribute>
<stringAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.0.OPTION.ALSO_LOAD_SYMBOLS" value="false"/>
<stringAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.0.OPTION.ON_DEMAND_LOAD" value="true"/>
<stringAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.0.TYPE" value="APP_ON_HOST_TO_DOWNLOAD"/>
<stringAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.0.VALUE" value=""/>
<intAttribute key="FILES.ICE_DEBUG_WITH_TRACE.RESOURCES.COUNT" value="1"/>
<stringAttribute key="FILES.SELECTED_DEBUG_OPEATION" value="DEBUG_RESIDENT_APP"/>
<stringAttribute key="HOST_WORKING_DIR" value="${workspace_loc}"/>
<booleanAttribute key="HOST_WORKING_DIR_USE_DEFAULT" value="true"/>
<listAttribute key="ITM_CHANNEL_LIST"/>
<booleanAttribute key="KEY_COMMANDS_AFTER_CONNECT" value="false"/>
<stringAttribute key="KEY_COMMANDS_AFTER_CONNECT_TEXT" value=""/>
<booleanAttribute key="KILL_ON_EXIT" value="true"/>
<booleanAttribute key="RSE_USE_HOSTNAME" value="true"/>
<stringAttribute key="TCP_DISABLE_EXTENDED_MODE" value="true"/>
<booleanAttribute key="TCP_KILL_ON_EXIT" value="false"/>
<booleanAttribute key="VFS_ENABLED" value="true"/>
<stringAttribute key="VFS_LOCAL_DIR" value="${workspace_loc}"/>
<stringAttribute key="VFS_REMOTE_MOUNT" value="/writeable"/>
<stringAttribute key="bootwrapper_image" value="DS5://arm/linux_distribution/bootwrapper_ve.axf"/>
<stringAttribute key="config_db_activity_name" value="Start gdbserver and debug target resident application"/>
<stringAttribute key="config_db_connection_keys" value="gdb_baud DISABLE_EXTENDED_MODE linux_kernel shell_prompt linux_p9_dtb linux_base linux_dtb linux_fs gdb_sport_remote gdb_address login_prompt model linux_image setup launch_script TCP_KILL_ON_EXIT TCP_DISABLE_EXTENDED_MODE"/>
<stringAttribute key="config_db_connection_type" value="gdbserver (serial)"/>
<stringAttribute key="config_db_env_name" value="gdbserver (serial)"/>
<stringAttribute key="config_db_platform_name" value="ARM FVP (Installed with DS-5) - Cortex-A9x1 pre-configured to boot ARM Embedded Linux"/>
<stringAttribute key="config_db_project_type" value="Linux Application Debug"/>
<stringAttribute key="config_db_project_type_id" value="GDB_SERVER"/>
<stringAttribute key="config_db_taxonomy_id" value="/platform/armfvp_installedwithds_5_/cortex_a9x1_fvp_linuxapp"/>
<booleanAttribute key="connectOnly" value="false"/>
<stringAttribute key="dtsl_options_file" value="default"/>
<stringAttribute key="gdb_address" value="127.0.0.1"/>
<stringAttribute key="gdb_baud" value="38400"/>
<stringAttribute key="gdb_port" value="5003"/>
<stringAttribute key="gdb_sport_remote" value="/dev/ttyAMA3"/>
<stringAttribute key="host" value="localhost"/>
<stringAttribute key="kernel_dtb" value="DS5://arm/linux_distribution/rtsm_ve-cortex_a9x4.dtb@0x80f00000"/>
<stringAttribute key="kernel_image" value="DS5://arm/linux_distribution/kernel_ve@0x80008000"/>
<listAttribute key="launch_script">
<listEntry value="DS5://sw/models/bin/launchmodel"/>
<listEntry value="&quot;-install_base=${eclipse_home}/../..&quot; -model=&quot;DS5://sw/models/bin/FVP_VE_Cortex-A9x1&quot; -linux_base=&quot;DS5://arm/linux_distribution/&quot; -linux_image=&quot;CDB://etc/linux.axf&quot; -linux_kernel=&quot;kernel_ve@0x80008000&quot; -linux_dtb=&quot;rtsm_ve-cortex_a9x4.dtb@0x80f00000&quot; -linux_dtb_p9=&quot;rtsm_ve-cortex_a9x4_p9.dtb@0x80f00000&quot; -linux_fs=&quot;rootfs.image&quot; -param=-S -param=-R -C=cluster.cpu0.semihosting-enable=0 -C=motherboard.terminal_1.start_telnet=false -C=motherboard.terminal_2.start_telnet=false -C=motherboard.terminal_3.start_telnet=false -C=motherboard.terminal_3.mode=raw -C=motherboard.pl011_uart3.untimed_fifos=true -C=motherboard.terminal_0.start_port=5100 -C=motherboard.terminal_1.start_port=5200 -C=motherboard.terminal_2.start_port=5300 -C=motherboard.terminal_3.start_port=5003 -C=motherboard.smsc_91c111.enabled=1 -login_prompt=&quot;ogin&quot; -shell_prompt=&quot;#&quot;"/>
</listAttribute>
<booleanAttribute key="linuxOS" value="true"/>
<stringAttribute key="linux_base" value="DS5://arm/linux_distribution/"/>
<stringAttribute key="linux_dtb" value="rtsm_ve-cortex_a9x4.dtb@0x80f00000"/>
<stringAttribute key="linux_fs" value="rootfs.image"/>
<stringAttribute key="linux_image" value="CDB://etc/linux.axf"/>
<stringAttribute key="linux_kernel" value="kernel_ve@0x80008000"/>
<stringAttribute key="linux_p9_dtb" value="rtsm_ve-cortex_a9x4_p9.dtb@0x80f00000"/>
<stringAttribute key="login_prompt" value="ogin"/>
<stringAttribute key="model" value="DS5://sw/models/bin/FVP_VE_Cortex-A9x1"/>
<stringAttribute key="model_location" value="DS5://sw/models/bin/FVP_VE_Cortex-A9x1"/>
<stringAttribute key="port" value="5003"/>
<stringAttribute key="rootfs_image" value="DS5://arm/linux_distribution/rootfs.image"/>
<booleanAttribute key="runAfterConnect" value="false"/>
<stringAttribute key="serial_device" value="6"/>
<listAttribute key="setup">
<listEntry value="DS5://sw/models/bin/target_gdb_enabler"/>
<listEntry value="-ta=127.0.0.1 -tp=$host -gsp=/dev/ttyAMA3 -gb=38400 -lp=ogin -sp=# -persist"/>
</listAttribute>
<stringAttribute key="shell_prompt" value="#"/>
<stringAttribute key="stopAtExpression" value="main"/>
<stringAttribute key="telnet_device" value="5"/>
</launchConfiguration>
